@model symphony_limited.FrameWork.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

<div class="
     
     
     dcrumbs" data-aos="fade-in">
    <div class="container">
        <p></p>
        <p>
           
        </p>
    </div>
</div><!-- End Breadcrumbs -->
<main id="main-detail">
    <h2>Course Details</h2>
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="course-details-container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <p></p>
                    <img src="~/Upload/Course/@Html.DisplayFor(model => model.Img)" class="img-fluid" alt="" style="width:623px;height:350px">
                   
                    <h3>detailed description :</h3>
                    <p>
                        
                        @Html.DisplayFor(model => model.Description)
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>@Html.DisplayFor(model => model.Teacher.NameTeachear)</h5>
                        <img src="~/Upload/Teacher/@Html.DisplayFor(model => model.Teacher.Image)" class="img-fluid" alt="" >
                        @*<p><a href="#">@Html.DisplayFor(model => model.Teacher.Image)</a></p>*@
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Course Fee</h5>
                        <p>$165</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Number of subject</h5>
                        <p>@Html.DisplayFor(model => model.Numberofsession)</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Schedule</h5>
                        <p>8.00 am - 12.00 am <br> 13.00 pm - 17.00 pm <br> 18.00 pm - 22.00 pm</p>
                    </div>
                </div>
            </div>


        </div>
    </section><!-- End Cource Details Section -->
    <div class="action action-courses">
        <button type="button" class="button-courses detail" data-toggle="modal" data-target="#exampleModalCenter">
            @*@Html.ActionLink("Registration Now", "Create")*@
            <a href="@Url.Action("Create", "StudentRegister")" class="link-logo">Registration Now</a>
        </button>
    </div>
</main><!-- End #main -->
