@model symphony_limited.FrameWork.Login
<link href="~/assets/Admin/css/Login.css" rel="stylesheet" id="bootstrap-css">
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html>

<head>
    <title>My Awesome Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                       <h2>Create Account</h2>
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
            
                    if (ViewBag.error != null)
                    {
                        <span style="color:red; background-color:yellow; margin-left:50px;">@ViewBag.error</span>
                    }
                    <div class="input-field">
                        <label for="Email">UserName</label>
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @required = "required", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field">
                        <label for="PassWord">Password</label>
                        @Html.TextBoxFor(Model => Model.PassWord, new { @class = "form-control", @required = "required", @type = "password" })
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field">
                        <label for="PassWord">Enter the password</label>
                        @Html.TextBoxFor(Model => Model.RePassWord, new { @class = "form-control", @required = "required", @type = "password" })
                        @Html.ValidationMessageFor(model => model.RePassWord, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="action col-md-offset-2 col-md-12">
                            <input type="submit" value="Registration" class="create btn btn-default" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-text col-md-offset-2 col-md-12">
                            <label class="error">@ViewBag.Notification</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
