<h2 class="title-admin">Teacher</h2>

@model IEnumerable<symphony_limited.FrameWork.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<div id="menuLogin" styler style="font-family: sans-serif;color: #333;">
    <ul class="" style="float:right !important;">

        @if (Session["Email"] != null)
        {
            <li style="margin-right:80px"><a style="color:red;margin-right:200px">  @Session["Email"]</a></li>
            <li>@Html.ActionLink("Logout", "Logout", "LoginRegister")</li>
            <li style="color:black">@Html.ActionLink("Create New", "Create")</li>
        }
        else
        {
            <li>@Html.ActionLink("Signup", "Signup", "LoginRegister")</li>
            <li>@Html.ActionLink("Login", "Login", "LoginRegister")</li>
            <li style="color:black">@Html.ActionLink("Create New", "Create")</li>
        }
    </ul>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameTeachear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameTeachear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td><img style="width:50px;height:50px" src="~/Upload/Teacher/@item.Image" /></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TeacherId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
            </td>
        </tr>
    }

</table>
